{% extends "base.html" %}
{% block contenido %}
	<form method="POST" action="{{url_for('login')}}">
		<input type="text" name="email" placeholder="Email">
		<input type="password" name="auth" placeholder="Contraseña">
		<input type="submit" value="Iniciar sesion">
	</form>
{% endblock %}