<nav class="uk-navbar-container" uk-navbar>
	<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li class="uk-active">
				<a href="{{url_for('index')}}">
					Home
				</a>
			</li>
			<li>
				<a href="{{url_for('blogView')}}">
					Blog
				</a>
			</li>
			<li>
				<a href="#">Secciones</a>
				<div class="uk-navbar-dropdown">
					<ul class="uk-navbar-dropdown-nav">
						<li>
							<a href="#">Pag 1</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			{% if context.user %}
				<li>
					<a href="#">Hola: {{context.user.username}}</a>
				</li>
				<li>
					<a href="{{url_for('logout')}}">Cerrar sesion</a>
				</li>
			{% else %}
				<li>
					<a href="{{url_for('login')}}">Login</a>
				</li>
				<li>
					<a href="{{url_for('register')}}">Registro</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>