<!-- This is the modal for articles -->
<div id="{{modal.id}}" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">{{modal.head | safe}}</h2>
        <p>{{modal.msj}}</p>
        <p class="uk-text-right">
        	{% if modal.footer %}
        		{{modal.footer}}
        	{% else %}
	            <button class="uk-button uk-button-primary uk-modal-close" type="button">Cerrar</button>
            {% endif %}
        </p>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	UIkit.modal('#{{modal.id}}', {})[0].toggle();
})
</script>